{
  "env": {
    "browser": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base/legacy"
  ],
  "globals": {
    "_": false,
    "angular": false,
    "inject": false,
    "module": false,
    "CodeMirror": false,
    "Highcharts": false
  },
  "rules":  {
    "func-names": "off",
    "indent": ["error", "tab", {"SwitchCase": 1}],
    "no-console": 1,
    "no-tabs": "off"
  },
  "root": true
}
