<div class="modal-header">
	<h3 class="modal-title" id="modal-title">User Settings</h3>
</div>
<div class="modal-body" id="modal-body">
	<form>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" placeholder="InGame Username..."><br>
			<label for="email">Email</label>
			<input type="text" class="form-control" id="email" placeholder="Email....">
		</div>
	</form>
	<strong>Misc Info</strong>
	<div>{{setCtrl}}</div>
</div>
<div class="modal-footer">
	<button class="btn btn-sm btn-default" type="button" ng-click="setCtrl.cancel()">Cancel</button>
	<!-- <button class="btn btn-sm btn-primary" type="button" ng-click="setCtrl.save()">Save</button> -->
</div>
