<!doctype html>
<html>
<head>
	<base href="/">
	<title>Welcome to Dynamic DCS Engine</title>
	<% if (useMin) {%>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="<%= grunt.template.path.basename(process(cssmin.app.dest)) %>" rel="stylesheet"/>
	<% } else { %>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href="<%= grunt.template.path.basename(process(cssmin.app.dest)) %>" rel="stylesheet"/>
	<link href="<%= grunt.template.path.basename(less.app.dest) %>" rel="stylesheet"/>
	<% } %>
</head>
<body common-css data-ng-app="dynamic-dcs" data-ng-controller="dynamicDCSController as app" data-mg-strict-di>
<div class="alert-box repeat-item" ng-repeat="alert in alertService.alerts" >
	<div uib-alert  ng-class="'alert-' + (alert.type || 'warning')" close="alertService.closeAlert($index)" dismiss-on-timeout="1500">{{alert.msg}}</div>
</div>
<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">

		<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><strong class="panel-title">DynamicDCS&nbsp;<sup>(alpha)</sup></strong></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
		<ul class="nav navbar-nav">
			<li><a href="/">Leaderboard</a></li>
			<li uib-dropdown>
				<a href="#" uib-dropdown-toggle>Live Maps <b class="caret"></b></a>
				<ul uib-dropdown-menu>
					<li><a ui-sref="dynCaucasus">Dynamic Caucasus</a></li>
					<li><a ui-sref="dynRedDawn">Dynamic Red Dawn</a></li>
				</ul>
			</li>

		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="http://www.16agr.com" target="_blank">Join The 16AGR!</a></li>
			<li><a href="#" ng-click="isCollapsed = !isCollapsed" data-ng-show="$state.includes('dynCaucasus') || $state.includes('dynRedDawn')">Tools</a></li> <!--temp until better show function -->
			<li><a href="#" ng-if="!auth.isAuthenticated()" ng-click="auth.login()">Login</a></li>
			<li ng-if="auth.isAuthenticated()" uib-dropdown>
				<a href="#" uib-dropdown-toggle><div class="redText">{{cObj.client.player.name}} <b class="caret"></b></div></a>
				<ul uib-dropdown-menu>
					<li><a ng-click="openSettingsModal('lg')">Settings</a></li>
					<li><a ng-click="openAdminModal('lg')">Admin</a></li>
					<li><a ng-click="auth.logout()">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>
	<div ui-view></div>
<div uib-collapse="isCollapsed" class="floating-sidepanel">
	<uib-accordion close-others="false">
		<div uib-accordion-group class="panel-default"  heading="Map Tools" >
			Future Map Tools Here
		</div>
		<div uib-accordion-group class="panel-default" heading="Events" >
			<chat-box socket-sub="eventMsgs"></chat-box>
		</div>
		<div uib-accordion-group class="panel-default" heading="Chat" >
			<chat-box socket-sub="chatMsgs" chat-to="Allies"></chat-box>
		</div>
		<div uib-accordion-group class="panel-default" heading="Srv Cmds" >
			<chat-box socket-sub="cmds" chat-to="Msn"></chat-box>
		</div>
	</uib-accordion>
</div>

<script src="<%= grunt.template.path.basename(concat.vendor.dest) %>"></script>
<script src="<%= grunt.template.path.basename(concat.app.dest) %>"></script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>
