<!doctype html>
<html>
	<head>
		<title>Welcome to Dynamic DCS Engine</title>
	</head>
	<body common-css data-ng-app="dynamic-dcs" data-ng-controller="dynamicDCSController as app" data-mg-strict-di>
		<div class="container-fluid">
			<div class="page-header">
				<h1>Dynamic DCS</h1>
			</div>
			<div class="app-body">
				<div ui-view></div>
			</div>
		</div>
		<script src="<%= grunt.template.path.basename(concat.vendor.dest) %>"></script>
		<script src="<%= grunt.template.path.basename(concat.app.dest) %>"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
			socket.on('srvUpd', function(msg){
				console.log('srvUpd: ',msg);
			});
			socket.on('srvUnitUpd', function(msg){
				console.log('srvUnitUpd: ',msg);
			});
		</script>
	</body>
</html>
